page-wife {
  
        body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
        dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
        pre, /* text formatting elements 文本格式元素 */
        fieldset, button, input, textarea, /* form elements 表单元素 */
        th, td,
        div, p, span{ /* table elements 表格元素 */
            margin: 0;
            padding: 0;
        }
         ion-content{
            width: 100%;
            height: 100%;
            background: #2D3447 !important;
            display: flex ;
        }
        .item-md.item-block .item-inner {
            border-bottom: none;
            
        }
        .time-input{
            height: 52px;
            border: 2px solid #5A658D;
            border-radius: 4px;
            background: #5A658D;
            text-align: center;
            font-size: 23px;
            color: white;
            width: 400px;
        }
      
        .button-ios,
        .button-md{
          background-color: #2699FB;
          border-radius: 0.8rem;
          height: 3.2em;
          margin-top: 4rem;
          box-shadow: none;
          margin-left:216px;
          width:30%;
        }
    .wife{
        text-align: center;
        font-size: 48px;
        color: white;
        margin-top: 181px;
    }
    
}
