page-setting {
    ion-content{
        background-color: #2D3447 !important;
      }
    .button-ios,
    .button-md{
      background-color: #2699FB;
      border-radius: 0.8rem;
      height: 3.2em;
      margin-top: 4rem;
      box-shadow: none;
      margin-left: 800px;
      width: 13%;
    }
    .header-title{
        width: 1580px;
        margin: auto;
        padding: 24px 0;
        display: flex;
    }
    .back{
        width: 65px;
        height: 65px;
        background-color: #4D597F;
        box-shadow: 0 3px 32px #2F3756;
        border-radius: 35px;
        display: flex;
    }
    .back img{
        width:35px;
        height: 35px;
        margin: auto 12px;
    }
}
